.navbar {
    position: fixed;
    z-index: 2;
    top: 0.9%;
    display: inline-flex;
    width: 99%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar:hover {
    border-radius: 12px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.navbar li{
    float: right;
    padding-right: 15%;
    padding-left: 1%;
    font-size: 18px;
    font-family: Verdana;
    cursor: pointer;
    list-style-type: none;
}

.navbar li:hover{
    color: white;
}

.navbar ul{
    margin-left: 30%;
    padding-top: 0.8%;
    display: inline-flex;
}

.navbar h1{
    margin-left: 1%;
}

body {
    background: url("/assets/banner.jpg");
}

.conteudoSobre {
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.conteudoSobre:hover {
    border-radius: 12px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.conteudoSobre h3 {
    text-align: center;
}

.conteudoSobre li{
    text-align: center;
    list-style-type: none;
    margin-left: -7%;
}

.politicaPrivacidade {
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.politicaPrivacidade h3 {
    text-align: center;
}

.politicaPrivacidade:hover {
    border-radius: 12px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.termosUso {
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    background: rgba( 126, 211, 33, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.termosUso h3 {
    text-align: center;
}

.termosUso p {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.termosUso:hover {
    border-radius: 12px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.slider {
    margin-top: 10%;
    display: inline-flex;
    align-items: center;
    margin-left: 25%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.slider:hover {
    border-radius: 12px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

footer {
    display: inline-flex;
    width: 100%;
    margin-top: 45%;
    z-index: 2;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer li {
    list-style-type: none;
    cursor: pointer;
}

footer li:hover{
    color: white;
}

footer h3 {
    padding-left: 1%;
}

footer:hover {
    border-radius: 12px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.conteudo {
    margin-top: 10%;
    align-self: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
